@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

.container {
  width: 100%;
  text-align: center;
}

.board {
  display: inline-block;
  padding: 3% 0 0 0;
  text-align: left;
  margin: auto;
}

.store {
  display: flex;
  flex-flow: row;
}

.list {
  width: 200px;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 200;
}

.store-page {
  flex: 1;
}

.store-page .content {
  padding: 20px;
}

.store-tool > * {
  display: block;
  margin: 2%;
}

.label {
  color: #4e4e56;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px 0 10px 0;
}

.searchbar {
  padding: 8px;
  letter-spacing: 2;
}

.dialog {
  width: 300px;
  height: 800px;
  text-align: center;
  margin: auto;
}
