@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

.dashboard {
  padding: 3% 0 0 0;
  text-align: center;
}

.board {
  display: inline-block;
  text-align: left;
  margin: auto;
}
